CF_API_KEY='api-key'
MC_DATA_PATH='./mc-data'
MC_BACKUPS_PATH='./mc-backups'
MC_SERVER_PORT='25567'
HUB_REPO_NAME='hub-login/repo-name'
HUB_LOGIN='hub-login'
HUB_PASSWORD='hub-passwd'
DOCKER_IMAGE_TO_PULL="${HUB_REPO_NAME}:latest"
